# 忽略所有 .DS_Store 檔案
.DS_Store

# 個人做測試的資料夾，請忽略！
00_testing_field/
/runs

# 忽略模型權重檔
checkpoint/
*.pth
*.h5
*.pt

# 暫時先忽略 download_model.py 腳本
download_model.py

# 忽略Python快取
__pycache__/

# 忽略 .vscode 資料夾
.vscode/

# 忽略 Gradio 緩存
.gradio/
flagged/

# 忽略一些指標檔案
temp_preview.pkl
tuner_params.json

# 忽略除錯日誌與生成的圖片
streamline.png
solver_debug.log
geometry_debug.log
debug_constraints.png

#測試程式 app_2.py
app_2.py